body {
    text-align: center;
    background: black;
    color: white;
    font-family: verdana;
  }
  
.block {
    display: block;
  }
  
  
  
  p {
    text-align: justify;
    letter-spacing: 3px;
    line-height: 30px;
  }
  
  
  .active {
    background: white;
  }